#contact-map{
    width: 100%;
    height: 300px;
    border: 10px solid white;
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
#contact-form input[type="text"], #contact-form input[type="password"], #contact-form input[type="email"], #contact-form  textarea{

}
#contact-form textarea{
    min-height: 150px;
}
#contact-form .contact-for-inner{
    padding: 0;
}
