.container.content.fullWhite{
	background: rgba(255, 255, 255, 0.83);
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.tours-list{
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.tours-list .tour-item{
	-webkit-box-shadow: 0 0 10px rgba(66, 139, 202, 0.5);
	box-shadow: 0 0 10px rgba(66, 139, 202, 0.5);
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	background: #FFF;
	margin-bottom: 10px;
	padding: 7px 10px;
}
.tours-list .tour-item .badge{
	padding: 5px 13px;
	background: #568BCE;
}
.header-slider .carousel-inner, #parthenon-slider .carousel-inner{
	-webkit-box-shadow:0 0 2px rgba(66, 139, 202, 0.5);
	box-shadow:0 0 2px rgba(66, 139, 202, 0.5);
}
.search-panel-content{
	top:0px;
}
.content-title{
	color:#000;
}
body{
	background: #006EB8;
}
.filter_box{
    border-top: 1px solid #CCC;
}
.filter_box h4{
    border-bottom: 1px solid #CCC;
	
    padding-bottom: 10px;
    text-align: center;
}