div.container.global {
    padding: 0 !important;
}

div.container.global > div.container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    border-radius: 0;
}

.container.content.fullWhite{
    background: #F0F6FA;
        
}
.tours-list{
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.tours-list .tour-item{
    -webkit-box-shadow: 0 0 10px rgba(66, 139, 202, 0.5);
    box-shadow: 0 0 10px rgba(66, 139, 202, 0.5);
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    background: #FFF;
    margin-bottom: 10px;
    padding: 7px 10px;
}
.tours-list .tour-item h3{
    line-height: 24px;
    padding-bottom: 13px;
}
.tours-list .tour-item .make_a_question{
    margin-left: 4px;
}
.tours-list .tour-item .badge{
    padding: 5px 13px;
    background: #568BCE;
}
.carousel-control.left{
    background: transparent;
}
.carousel-control.right{
    background: transparent;
}
.carousel{
    margin-top: 10px;
}
.header-slider .carousel-inner, #parthenon-slider .carousel-inner{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sup-header .carousel {
    margin: 0;
}

.sup-header #parthenon-slider .carousel-inner {
    border: none;
    height: 250px;
}

.sup-header #parthenon-slider .item img {
    min-height: 250px;
}
/*
.sup-header #parthenon-slider .carousel-control {
    border: 1px solid;
    width: 24px;
    height: 20px;
    opacity: 0.8;
    background-color: #fefefe;
    margin-top: 110px;
    border-radius: 2px;
}

.sup-header #parthenon-slider .carousel-control [class^="icon-"] {
    padding-top: 5px;
}*/

.left-panel {
    border-radius: 4px;
    padding-bottom: 15px;
    padding-top: 4px;
}

.left-panel .weather-container {
    height: 150px;
}

.left-panel .ws-loading {
    font-size: 12px !important;
}

.hoteles-panel h5 {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

.search-panel-content{
    top: 90px;
}

.hoteles-panel {
    background-color: #D8EDF7;
    padding: 4px 2px;
    margin-top: 15px;
    border-radius: 5px;
}

body{
    font-size: 13px;
}
.filter_box{
    border-top: 1px solid #CCC;
    padding: 1px 13px;
}
.filter_box h4{
    border-bottom: 1px solid #CCC;
    
    padding-bottom: 10px;
    text-align: center;
}
.nav-tabs>li>a:hover{
background: #F0F6FA!important;
border:1px solid rgba(0, 0, 0, 0)!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background: #F0F6FA!important;
}
.nav-tabs>li>a {
color:#FFF;
}
.header .dropdown-menu>li>a:hover{
    background: #3F6191!important;
}
.header-slider .carousel-inner, #parthenon-slider .carousel-inner{
    border:0;
}
.tarifas-table label.precio{
    padding-top: 18px!important;
}
.header_photo_wrapper{

}
.header_photo_wrapper img{
    width: 100%;
}
.sup-header{
    height: auto;
}
.content-title h2{
    color: #3F6191;
}
.content-title p{
    color: #3F6191;
    font-size: 17px;
}
.panel-primary>.panel-heading{
    background: #3F6191;
}
.tours-list .tour-item .badge{
    background: #3F6191;   
}
h1,h2,h3,h4,h5,h6{
    color: #3F6191;
}